:root {
  --color-primary: #003adb;
  --color-secondary: #1b2837;
  --color-headings: #fff;
  --color-body: #9c9898;
  background-color: black;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
}
/* typography */
h1,
h2,
h3 {
  color: var(--color-headings);
  margin: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
}
