:root {
  --color-primary: #003adb;
  --color-secondary: #1b2837;
  --color-headings: #fff;
  --color-body: #9c9898;
  background-color: black;
  --color-hover: #ffffffd8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
}

/* typography */
h1,
h2,
h3 {
  color: var(--color-headings);
  margin: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/* button component */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
  border-radius: 40px;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem;
}
.btn-primary:hover {
  background-color: var(--color-hover);
}
.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary:hover {
  background-color: var(--color-hover);
}
.btn-secondary {
  background-color: var(--color-secondary);
}
.btn-outline {
  background-color: var(--color-secondary);
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}
.btn-outline:hover {
  background-color: var(--color-secondary);
  color: var(--color-hover);
}

.btn-size {
  /* width: calc(100% - 200px); */
  width: 80%;
  display: inline-block;
}
.btn::before {
  content: "";
  background-color: #fff;
}

@media screen and (min-width) {
  .btn {
    font-size: 1.8rem;
  }
}
